{% extends "layout.html" %}

{% block title %}Tweet Feed{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Welcome to WnCC Tweet Project</h1>
    <a href="{% url 'tweetCreate' %}" class="btn btn-primary mb-3">Create New Tweet</a>
    {% for tweet in tweets %}
        <div class="card mb-3">
            <div class="card-header">
                {{ tweet.user.username }} - {{ tweet.created_at }}
            </div>
            <div class="card-body">
                <p>{{ tweet.text }}</p>
                {% if tweet.image %}
                    <img src="{{ tweet.image.url }}" alt="Tweet image" class="img-fluid">
                {% endif %}
                {% if tweet.user == user %}
                    <a href="{% url 'tweetEdit' tweet.pk %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'tweetDelete' tweet.pk %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>No tweets yet.</p>
    {% endfor %}
</div>
{% endblock %}

{% block search_context %}tweets{% endblock %}
