.sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.sidebar img {
  width: auto;
  height: 50px; 
  cursor: pointer;
  background-color: white; 
  border-radius: 50%; 
}

.sidebar_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 0;
  transition: 300ms;
}

.sidebar_list_active {
  height: 300px;
}

.sidebar_list_item {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  list-style: none;
}

.dark-mode-toggle {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dark-mode-toggle input {
  display: none;
}

.dark-mode-toggle label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch {
  position: relative;
  width: 50px;
  height: 25px;
  background-color: #bbb;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.switch::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

input:checked + .switch {
  background-color: #4caf50;
}

input:checked + .switch::before {
  transform: translateX(25px);
}

input:not(:checked) + .switch::after {
  content: '🌙';
  position: absolute;
  left: 25px;
  font-size: 16px;
  transition: opacity 0.3s;
  opacity: 1;
}
